# App
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=essence_perfumes

# JWT
JWT_SECRET=change-me
JWT_EXPIRES_IN_SECONDS=86400

# Auth
BCRYPT_SALT_ROUNDS=10
REFRESH_TOKEN_EXPIRES_IN_SECONDS=2592000
RESET_PASSWORD_TOKEN_EXPIRES_IN_SECONDS=900

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# AbacatePay
ABACATEPAY_API_KEY=
ABACATEPAY_WEBHOOK_SECRET=
